body {
    padding:0px;
    margin:0px;
    border:0px;
    overflow:hidden;
}
#scrollPanel {
    position:absolute;
    z-index:1;
    right:0px;
    height:100%;
    width:6%;
}
.switch {
    z-index:1;
    width:6%;
    height:100%;
    float:left;
}
img {
    width:100%;
    height:100%;
}
.chinese {
    height:12vw;
    
}
.chinese .switch {
    background-color:#cfcfc4;
}
.chinese DIV {
    font-size:10vw;
    display:flex;
    justify-content: center;
    align-items: center;
}
.english {
    height:4vw;
    margin-top:1vh; 
    font-size:2.5vw;
}
.english .switch {
    background-color:#c9c0bb;
}
.pinyin {
    height:4vw;
    font-size:2.5vw;
}
.pinyin .switch {
    background-color:#c9c0bb;
}
.row {
    width:100%;
    
}
.column {
    float:left;
    height:100%;
    width:12.5%;
}

p {
    margin:0;
    position:relative;
    top:50%;
    transform:translate(0,-50%);
    text-align:center;
} 
.light {
    background-color:#eaf1f8;
}
.medium {
    background-color:#dce7f3;
}
.regular {
    background-color:#cddeee;
}
.dark {
    background-color:#bed4e9;
}
